<div id="the-map">
  <LeafletMap @lat="39.65417" @lng="66.95972" @zoom="7" class="the-map" as |layers|>
    <layers.tile 
      @url="https://server.arcgisonline.com/ArcGIS/rest/services/World_Physical_Map/MapServer/tile/{z}/{y}/{x}"
    />

    {{#each this.places as |place|}}
      <layers.marker @lat={{place.lat}} @lng={{place.lon}} as |marker|>
        <marker.tooltip @permanent="true">
          {{place.name}}
        </marker.tooltip>
      </layers.marker>
    {{/each}}
  </LeafletMap>
</div>
